{%- assign current_variant = product.selected_or_first_available_variant | default: product.variants.first -%}

{% if product.selling_plan_groups.size > 0 %}
  <div id="selling_plan_app_container" class="selling_plan_app_container hidden" data-section-id='{{ section.id }}'>
    {% for variant in product.variants %}
      {%liquid
        assign variantPrice = variant.price | money_without_currency
        assign variantComparedAtPrice = variant.compare_at_price | money_without_currency
      %}
      {% if variant.selling_plan_allocations.size > 0 %}
        <section data-variant-id='{{ variant.id }}' class='selling_plan_theme_integration {% if variant.id != current_variant.id %}selling_plan_theme_integration--hidden{% endif %}'>
            <div>
              {% unless product.requires_selling_plan %}
                <div>
                  <label id="label_one_time_purchase">
                    <input
                      aria-label='One-time purchase. Product price {{ variantPrice }}'
                      type='radio'
                      name="purchaseOption_{{ section.id }}_{{ variant.id }}"
                      {% if variant.available == false %}disabled{% endif %}
                      id='{{ section.id }}_one_time_purchase'
                      data-radio-type='one_time_purchase'
                      data-variant-id='{{ variant.id }}'
                      data-variant-price='{{ variantPrice }}'
                      data-variant-compare-at-price='{{ variantComparedAtPrice }}'
                      checked
                    />
                    One-time purchase - {{ variant.id }} - {{ variantPrice }}
                  </label>
                </div>
              {% endunless %}
              {% assign group_ids = variant.selling_plan_allocations | map: 'selling_plan_group_id' | uniq %}
              {% for group_id in group_ids %}
                {%liquid
                   assign group = product | map: 'selling_plan_groups' | where: 'id', group_id | first
                   assign allocations = variant | map: 'selling_plan_allocations' | where: 'selling_plan_group_id', group_id

                   if forloop.first
                    assign first_selling_plan_group = true
                  else
                    assign first_selling_plan_group = false
                  endif
                %}
                <div>
                  <div>
                    <label>{{ group.name }}</label>
                  </div>
                  <ul>
                    {% for allocation in allocations %}

                      {%liquid
                        if forloop.first and product.requires_selling_plan and first_selling_plan_group
                          assign plan_checked = 'checked'
                        else
                          assign plan_checked = nil
                        endif

                        assign allocationPrice = allocation.price | money_without_currency
                        assign allocationComparedAtPrice = allocation.compare_at_price | money_without_currency
                      %}

                      <li>
                        <label>
                          <input
                            type='radio'
                            {% if variant.available == false %}disabled{% endif %}
                            aria-label='{{ allocation.selling_plan.name }}. Product price {{ allocationPrice }}'
                            name="purchaseOption_{{ section.id }}_{{ variant.id }}"
                            data-radio-type='selling_plan'
                            data-selling-plan-id='{{ allocation.selling_plan.id }}'
                            data-selling-plan-group-id='{{ section.id }}_{{ group_id }}_{{ variant.id }}'
                            data-selling-plan-adjustment='{{ allocation.selling_plan.price_adjustments.size }}'
                            data-variant-price='{{ allocationPrice }}'
                            data-variant-compare-at-price='{{ allocationComparedAtPrice }}'
                            {{ plan_checked }}>
                          {{ allocation.selling_plan.name }} - {{ allocation.selling_plan.id }} - {{ allocationPrice }}
                        </label>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>
        </section>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}